.header {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    gap: 0.25rem;
    align-items: center;
    height: 12vh;
	padding-left: 5vw;
	padding-right: 5vw;
    background-color: var(--background-color);
}

.heading {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.5rem;
}

.accentText {
    background: linear-gradient(135deg, orangered, deeppink);
    background-clip: text;
    color: transparent;
}

@media only screen and (max-width: 768px) {
    .header {
        padding: 0 4vw;
        height: 10vh;
    }

    .heading {
        font-size: 2rem;
    }
}