.toggler {
    position: sticky;
    float: left;
    top: 50%;
    transform: translate(-5vw, -50%);
    margin-top: -100%;
    margin-left: 0.5rem;
    background-color: transparent;
    padding: 0;
}

.togglerIcon {
    fill: var(--secondary-foreground-color);
    width: 1.5rem;
    height: 1.5rem;
    transition: fill 0.15s ease;
}

.flipped {
    transform: rotate(180deg);
}

.toggler:hover .togglerIcon {
    fill: var(--foreground-color);
}

@media only screen and (max-width: 768px) {
    .toggler {
        display: none;
    }
}