.toggler {
    position: sticky;
    top: 50vh;
    font-size: 3rem;
    margin-top: calc(-100%);
    color: var(--tertiary-background-color);
    background-color: transparent;
}

.togglerIcon {
    fill: var(--tertiary-background-color);
    width: 1.75rem;
    height: 1.75rem;
    transition: fill 0.3s ease;
}

.flipped {
    transform: rotate(180deg);
}

.toggler:hover .togglerIcon {
    fill: var(--secondary-foreground-color);
}

@media only screen and (max-width: 768px) {
    .toggler {
        display: none;
    }
}