.message {
    display: flex;
    gap: 1rem;
}

.avatarContainer {
    align-self: start;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 50%;
    width: fit-content;
    height: var(--width);
    border: 1px solid var(--secondary-foreground-color);
}

.svgAvatar {
    fill: var(--foreground-color);
    width: 1.5rem;
    height: 1.5rem;
}

.messageInfo {
    position: relative;
}

.messageInfo p {
    margin: 0;
    white-space: pre-wrap;
}

.sender {
    position: absolute;
    top: -1.5rem;
    color: var(--secondary-foreground-color);
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .svgAvatar {
        fill: var(--foreground-color);
        width: 1.25rem;
        height: 1.25rem;
    }
}