.message {
    display: flex;
    gap: 1rem;
}

.avatarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    border: 1px solid var(--tertiary-background-color);
}

.svgAvatar {
    fill: var(--foreground-color);
    width: 1.35rem;
    height: 1.35rem;
}

.messageInfo {
    flex: 1;
    position: relative;
}

.messageInfo p {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    white-space: pre-wrap;
}

.messageInfo p:first-of-type {
    margin-top: 0;
}

.messageInfo p:last-of-type {
    margin-bottom: 0;
}

.sender {
    position: absolute;
    top: -1.5rem;
    color: var(--secondary-foreground-color);
    font-weight: bold;
}