.sideBySideContainer {
    display: flex;
}

.sideBySideContainer > div {
    flex: 1;
}

.labelContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 0.25rem;
}

.fill {
    fill: var(--foreground-color);
}

.stroke {
    stroke: var(--foreground-color);
}

.title {
    display: inline-block;
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
}

.content {
    color: var(--secondary-foreground-color);
}

.separator {
    width: 1px;
    margin: 0 2.5rem;
    border: none;
    background-color: var(--tertiary-background-color);
}

.mistake,
.correction {
    color: var(--foreground-color);
}

.mistake {
    background-color: #ffb2b2;
}

.correction {
    background-color: #c2f2c2;
}

@media only screen and (max-width: 768px) {
    .sideBySideContainer {
        flex-direction: column;
    }

    .separator {
        width: auto;
        height: 1px;
        margin: 2rem 0;
    }

    .icon {
        width: 1.5rem;
        height: 1.5rem;
    }

    .title {
        font-size: 1.25rem;
    }

    .labelContainer {
        margin-bottom: 1rem;
    }
}

@media (prefers-color-scheme: dark) {
    .mistake {
        background-color: #662e2e;
    }
    
    .correction {
        background-color: #315935;
    }
}