.sideBySideContainer {
    display: flex;
}

.sideBySideContainer > div {
    flex: 1;
}

.title {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 0;

}

.content {
    margin: 0;
    white-space: pre-wrap;
}

.separator {
    width: 1px;
    margin: 0 2.5rem;
    border: none;
    background-color: var(--tertiary-background-color);
}

.mistake {
    background-color: #f28585;
}

.correction {
    background-color: #b7e5b4;
}

@media only screen and (max-width: 768px) {
    .sideBySideContainer {
        flex-direction: column;
    }

    .separator {
        width: auto;
        height: 1px;
        margin: 2rem 0;
    }
}

@media (prefers-color-scheme: dark) {
    .mistake {
        background-color: #803939;
    }
    
    .correction {
        background-color: #336638;
    }
}