.popupContainer {
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    width: 50vw;
    padding: 2.5rem;
    border-radius: 0.5rem;
    background-color: var(--secondary-background-color);
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

.fadeIn {
    animation: fadeIn 0.15s ease-in-out forwards;
}

.fadeOut {
    pointer-events: none;
    animation: fadeOut 0.15s ease-in-out forwards;
}

.instructions {
    margin-top: 0;
    margin-bottom: 2rem;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.closeButton {
    display: block;
    margin-left: auto;
    background-color: transparent;
    padding: 0;
}

.closeIcon {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--secondary-foreground-color);
    transition: fill 0.15s ease;
}

.closeIcon:hover {
    fill: var(--foreground-color);
}

@media only screen and (max-width: 768px) {
    .popupContainer {
        width: 96vw;
        padding: 1rem;
    }
}

@media (prefers-color-scheme: light) {
    .popupContainer {
        background-color: var(--background-color);
    }
}