:root {
	--foreground-color: #000000;
	--background-color: #ffffff;
	--secondary-foreground-color: #a0a0a0;
	--secondary-background-color: #f4f4f4;
	--accent-color: #ff5151;
	--secondary-color: #ff8b8b;
	--tertiary-background-color: #dddddd;
}


@media (prefers-color-scheme: dark) {
	:root {
		--foreground-color: #e3e3e3;
		--background-color: #191919;
		--secondary-foreground-color: #808080;
		--secondary-background-color: #292929;
		--tertiary-background-color: #404040;
	}
}

body {
	padding: 0;
	margin: 0;
	color: var(--foreground-color);
	background: var(--background-color);
	font-family: Arial, sans-serif;
}

a {
	text-decoration: none;
}

p {
	line-height: 1.5;
}

button {
	border: none;
    cursor: pointer;
}

textarea {
	resize: none;
    border: 1px solid var(--tertiary-background-color);
    border-radius: 0.5rem;
	box-sizing: border-box;
    padding: 1rem;
    font-size: 1rem;
    color: var(--foreground-color);
}