.main {
	display: flex;
}

.content {
	position: relative;
	box-sizing: border-box;
	flex: 1;
}

.headerChatContainer {
	min-height: 90vh;
}

.chat {
	padding: 0vh 5vw 7.5vh 5vw;
}

@media only screen and (max-width: 768px) {
	.chat {
		padding: 3.5vh 4vw 5vh 4vw;
	}
}