.layout {
	display: flex;
}

.mainContent {
	flex: 1;
	padding-left: 5vw;
	padding-right: 5vw;
}

.chat {
	min-height: 80svh;
	max-width: calc(min(800px, 100vw - max(20vw, 250px)));
	box-sizing: border-box;
	padding-top: 1vh;
	padding-bottom: 6vh;
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (max-width: 768px) {
	.mainContent {
		padding-left: 4vw;
		padding-right: 4vw;
	}

	.chat {
		min-height: 82svh;
		max-width: none;
		padding-bottom: 4vh;
	}
}