.main {
	display: flex;
}

.content {
	position: relative;
	box-sizing: border-box;
	flex: 1;
}

.headerChatContainer {
	min-height: 90vh;
}

.chat {
	max-width: calc(min(900px, 100vw - 18vw - 10vw - 10vw));
	padding-left: 10vw;
	padding-right: 10vw;
	padding-top: 1vh;
	padding-bottom: 6vh;
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (max-width: 768px) {
	.chat {
		max-width: none;
		padding: 4vh 4vw 4vh 4vw;
	}
}