.textInputContainer {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
    min-height: 10svh;
    background-color: var(--background-color);
}

.textInputForm {
    position: relative;
    display: block;
    width: 70%;
    max-width: 800px;
}

.textarea {
    width: 100%;
    max-height: 12rem;
    overflow: auto;
    padding-right: 3rem;
    border-radius: 1rem;
	background-color: var(--background-color);
}

.sendButton {
    position: absolute;
    top: 0.875rem;
    right: 1rem;
    padding: 0;
    background-color: transparent;
}

.sendButton:hover .sendIcon {
    stroke: var(--secondary-color);
}

.sendIcon {
    stroke: var(--foreground-color);
    width: 1.5rem;
    height: 1.5rem;
    transition: 0.3s ease;
}

@media only screen and (max-width: 768px) {
    .textInputForm {
        width: 100%;
        padding: 0 4vw;
    }

    .sendButton {
        right: 2rem;
    }
}

@media (hover: hover) {
    .sendButton:hover .sendIcon {
        stroke: var(--secondary-color);
    }
}

@media (hover: none) {
    .sendButton:hover .sendIcon {
        stroke: var(--foreground-color);
    }
}