.message {
    display: grid;
    grid-template-areas:
        ". sender"
        "avatar content";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    row-gap: 0.25rem;
    column-gap: 1rem;
}

.avatarContainer {
    grid-area: avatar;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    border: 1px solid var(--tertiary-background-color);
}

.svgAvatar {
    fill: var(--foreground-color);
    width: 1.35rem;
    height: 1.35rem;
}

.messageInfo {
    grid-area: content;
    position: relative;
}

.messageInfo p {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    white-space: pre-wrap;
}

.messageInfo p:first-of-type {
    margin-top: 0;
}

.messageInfo p:last-of-type {
    margin-bottom: 0;
}

.sender {
    grid-area: sender;
    color: var(--secondary-foreground-color);
    font-weight: bold;
}
